[Desktop Entry]
Encoding=UTF-8
Name=Optimus Fedora
Version=1.0
Type=Application
Exec=/opt/optimus-fedora/optimus-fedora-tray.py
Path=/opt/optimus-fedora
Terminal=false